body *{
    font-family: 'Open Sans', sans-serif;
  }

.page {
    width: 1100px;
    background-color: #f1fcfe9b;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}
.vis-container {
    width: 100%;
	/* background-color: #f1fcfe9b */
}

.vis50-container {
    width: 50%;
	/* background-color: #f1fcfe9b */
}

.MainTitle {
    font-weight: 800;
    font-family:'Times New Roman', Times, serif;
    font-size: 45px;
    color: black;
    text-align:center;
    background-color: #f1fcfe9b;
    padding-top: 5mm;
    height: 100px;
    word-spacing: 10px;
}

.MainParagraph {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(80, 80, 80);
    text-align: center;
    word-spacing: 3px;
}

.GraphTitle{
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 35px;
    color: Black;
    text-align: center;
    word-spacing: 8px;
}

.GraphParagrapgh{
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    word-spacing: 2px;
}

.space{
    height: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.choroplethBoldTitle {
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 35px;
    color: #0381c9;
    word-spacing: 8px;
}

.choroplethBoldParagraph {
    font-weight: bold;
    color: #0381c9;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    word-spacing: 2px;
}

.hint{
    color: grey;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.dotBoldTitle {
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 35px;
    color: #fb0f6e;
    word-spacing: 8px;
}

.dotBoldParagraph {
    font-weight: bold;
    color: #fb0f6e;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    word-spacing: 2px;
}

.bubbleBoldTitle {
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 35px;
    color: #cb181d;
    word-spacing: 8px;
}

.bubbleBoldParagraph {
    font-weight: bold;
    color: #cb181d;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    word-spacing: 2px;
}

.donutBoldTitle {
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 35px;
    color: #1d91c0;
    word-spacing: 8px;
}

.donutBoldParagraph {
    font-weight: bold;
    color: #1d91c0;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    word-spacing: 2px;
}

.barBoldTitle {
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 35px;
    color: #c22a2f;
    word-spacing: 8px;
}

.redBoldParagraph {
    font-weight: bold;
    color: #c22a2f;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    word-spacing: 2px;
}

.blueBoldParagraph {
    font-weight: bold;
    color: #0574b4;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    word-spacing: 2px;
}

.inactiveBoldTitle {
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 35px;
    color: #3347c7;
    word-spacing: 8px;
}

.sleepBoldTitle {
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 35px;
    color: #fb0f6e;
    word-spacing: 8px;
}

.inactiveBoldParagraph {
    font-weight: bold;
    color: #3347c7;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    word-spacing: 2px;
}

.sleepBoldParagraph {
    font-weight: bold;
    color: #fb0f6e;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    word-spacing: 2px;
}

.physicalBoldTitle {
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 35px;
    color: #2dd0aa;
    word-spacing: 8px;
}

.mentalBoldTitle {
    font-family:'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 35px;
    color: #f5766b;
    word-spacing: 8px;
}

.physicalBoldParagraph {
    font-weight: bold;
    color: #2dd0aa;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    word-spacing: 2px;
}

.mentalBoldParagraph {
    font-weight: bold;
    color: #f5766b;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    word-spacing: 2px;
}

.endParagraph {
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    word-spacing: 3px;
}